/* font */
@import 'https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400';
/* fontawsome */
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css';

:root{
    --black: #34495e;
    --black_sub: #2c3e50;
    --gray: #95a5a6;
    --gray_sub: #7f8c8d;
    --white: #ecf0f1;
    --white_sub: #bdc3c7;
    --red: #e74c3c;
    --red_sub: #c0392b;
    --orange: #e67e22;
    --orange_sub: #d35400;
    --yellow: #f1c40f;
    --yellow_sub: #f39c12;
    --green: #2ecc71;
    --green_sub: #27ae60;
    --bluegreen: #1abc9c;
    --bluegreen_sub: #16a085;
    --blue: #3498db;
    --blue_sub: #2980b9;
    --purple: #9b59b6;
    --purple_sub: #8e44ad;
}


* {
-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
@media (min-width: 40rem) {
html {
    font-size: 20px;
}
}
body {
    color: var(--black);
    background-color: var(--white);
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
a {
color: var(--blue);
    text-decoration: none;
}
a strong {
    color: inherit;
}
a:hover,
a:focus {
    text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: var(--black);
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 2rem;
}
h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}
h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}
h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--black);
}

/* Lists */
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: .5rem;
}

/* form */
input { 
    /* 원하는 너비 설정 */ 
    width: 100%; 
    /* 높이값 초기화 */ 
    height: auto;
    /* line-height 초기화 */ 
    line-height : normal; 
    /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */ 
    padding: .8em .5em; 
    /* 폰트 상속 */ 
    font-family: inherit; 
    /* iSO 둥근모서리 제거 */ 
    border: 1px solid var(--black_sub); 
    border-radius: 0; 
    /* 포커스시 발생하는 효과 제거를 원한다면 */ 
    outline-style: none; 
    /* 브라우저별 기본 스타일링 제거 */ 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}